.rdw-link-modal-btn {
  line-height: 30px;
}
.rdw-link-modal {
  height: 276px;
}
.rdw-embedded-modal {
  height: 258px;
}
.rdw-embedded-modal-btn {
  line-height: 30px;
}
.DraftEditor-root {
  height: auto;
  padding-bottom: 10px;
}
.ant-upload-list-picture-card .ant-upload-list-item-thumbnail {
  font-size: 12px;
}
